div{
    width: 100px;
    height: 100px;
  
}

.container{
     width: 75vw;
     height: 85vh;
     border: 1px solid blueviolet;
     margin: 150px auto;
     position: relative;
}
#static{
    background-color: aqua;
    position: sticky;
    top: 0;
    
}

#absolute{
    background-color: red;
    position: absolute;
    top: 0;
    right: 100px;
}
#relative{
    background-color: blueviolet; 
     position: relative; 
    
}
#fixed{
    background-color: cornflowerblue;
    position: fixed;
    top: 0;
    left: 0;
}